<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletGoogleSearchUsingSendRedirect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyGoogle</display-name>
    <servlet-name>MyGoogle</servlet-name>
    <servlet-class>com.myGoogleSearch.MyGoogle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyGoogle</servlet-name>
    <url-pattern>/MyGoogle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoSearch</display-name>
    <servlet-name>DemoSearch</servlet-name>
    <servlet-class>com.myGoogleSearch.DemoSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoSearch</servlet-name>
    <url-pattern>/DemoSearch</url-pattern>
  </servlet-mapping>
</web-app>